@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

header {
  height: 4rem;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

header nav {
  max-width: 72rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

header nav .title span {
  font-weight: 300;
}

header nav .lists {
  list-style: none;
  display: flex;
}

header nav .lists .nav_items {
  margin-right: 30px;
}

header nav .lists .nav_items a {
  text-decoration: none;
  color: black;
}
